<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/headerStyle.css">
    <title>Document</title>
</head>
<body>
   
  <nav class="main-nav">
    <button class="main-nav__btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
    <a href="/"><div class="main-nav__title">Fokal</div></a>
    <div class="main-nav-drawer">
        <button class="main-nav-drawer__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
            </svg>
        </button>
        <ul class="nav-drawer__list">
            <li class="nav-drawer__item">
                <a href="/about" class="nav-drawer__link">About</a>
            </li>
            <li class="nav-drawer__item">
                <a href="/news" class="nav-drawer__link">news</a>
            </li>
            <li class="nav-drawer__item">
                <a href="/blog" class="nav-drawer__link">blog</a>
            </li>
            <li class="nav-drawer__item">
                <a href="/contact" class="nav-drawer__link">contact</a>
            </li>
            <div class="right-container">
            <a href="/login"><button class="btn loginBtn">Login</button></a>
            <a href="/join"><button class="btn joinBtn">Join</button></a>
            <i class="fa-solid fa-circle-dollar-to-slot" title="donate to a cause"></i>
            <i class="fa-solid fa-sack-dollar" title="fund a project"></i>
            </div>
        </ul>
       
    </div>
</nav>

</body>
<script src="https://kit.fontawesome.com/07eef8672e.js" crossorigin="anonymous"></script>
<script src="/javascript/logic.js"></script>
</html>